<template>
    <div class="movies">
        <div class="movie" v-for="movie in movies" :key="movie.filmId" @click="openMovieLink(movie.filmId)">
            <div class="movie-poster-wrapper">
                <img :src="movie.posterUrlPreview" alt="Movie Poster" class="movie-poster" />
                <div class="movie-rating">{{ movie.rating }}</div>
                <div class="movie-year">{{ movie.year }}</div>
            </div>
            <h2 class="movie-title">{{ movie.nameRu }}</h2>
        </div>
        <div v-if="movies.length === 0 && searchExecuted">По вашему запросу ничего не найдено. Попробуйте изменить запрос.</div>
    </div>
</template>

<script>
export default {
    props: ['movies', 'searchExecuted'],
    methods: {
        openMovieLink(filmId) {
            const link = `https://clappe01.github.io/#${filmId}`;
            window.open(link, '_blank');
        },
    },
};
</script>

<style scoped>
.movies {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.movie {
    width: 200px;
    margin: 16px;
    text-align: center;
    cursor: pointer;
}

.movie:hover .movie-poster {
    transition: box-shadow .5s;
    box-shadow: 0 2px 24px rgba(153, 93, 244, 0.5);
}

.movie:hover .movie-title {
    color: #aa88ff;
}

.movie-poster-wrapper {
    position: relative;
}

.movie-poster {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}

.movie-title {
    margin: 16px 0;
    font-size: 13px;
}

.movie-rating,
.movie-year {
    background: #ffc107;
    color: #000;
    padding: 2px 4px;
    position: absolute;
    border-radius: 2px;
    font-size: 13px;
}

.movie-rating {
    top: 8px;
    right: 8px;
}

.movie-year {
    top: 8px;
    left: 8px;
    background: #fff;
    color: #000;
}
</style>
