<template>
    <div class="search-bar" :class="{ 'search-bar-top': searchExecuted }">
        <input v-model="searchQuery" type="text" placeholder="Поиск фильмов и сериалов" @input="handleInput" />
        <div class="spinner" v-if="loading"></div>
    </div>
</template>
  
<script>
export default {
    data() {
        return {
            searchQuery: '',
            timeoutId: null,
            searchExecuted: false,
            loading: false,
        };
    },
    methods: {
        handleInput() {
            clearTimeout(this.timeoutId);
            this.loading = true;
            this.timeoutId = setTimeout(() => {
                if (this.searchQuery.trim() !== '') {
                    this.searchExecuted = true;
                    this.$emit('search', this.searchQuery);
                    this.$emit('searchExecuted', this.searchExecuted);
                }
                this.loading = false;
            }, 3000);
        },
    },
};
</script>
  
  
  
<style scoped>
.search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 1s;
    width: 60%;
    background: #333;
}

.search-bar-top {
    top: 24px;
    margin-top: 24px;
    transition: .5s ease-in;
}

input {
    width: 100%;
    padding: 16px;
    font-size: 24px;
    background: transparent;
    color: #F1F2F3;
    border: none;
    box-sizing: border-box;
}

.spinner {
    border: 8px solid #82b4d4;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 13px;
    right: 24px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
</style>

