<template>
  <div id="app">
    <img v-if="!searchExecuted" :src="require('@/assets/logo.png')" class="logo" alt="Logo">
    <SearchBar @search="searchMovies" @searchExecuted="handleSearchExecuted" />
    <SearchResult :movies="filteredMovies" :searchExecuted="searchExecuted" />
  </div>
</template>

<script>
import axios from 'axios';
import SearchBar from './components/SearchBar';
import SearchResult from './components/SearchResult';

export default {
  name: 'App',
  components: {
    SearchBar,
    SearchResult,
  },
  data() {
    return {
      movies: [],
      searchExecuted: false,
    };
  },
  computed: {
    filteredMovies() {
      return this.movies.filter(movie => movie.rating !== "null" && movie.posterUrlPreview);
    }
  },
  methods: {
    searchMovies(query) {
      const apiKey = process.env.VUE_APP_KINOPOISK_API_KEY;
      axios.get(`https://kinopoiskapiunofficial.tech/api/v2.1/films/search-by-keyword?keyword=${query}&page=1`, {
        headers: {
          'X-API-KEY': apiKey,
        },
      })
        .then((response) => {
          this.movies = response.data.films;
        });
    },
    handleSearchExecuted(value) {
      this.searchExecuted = value;
    },
  },
};
</script>

<style>
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #F1F2F3;
  background: linear-gradient(to right, #1a1a1a, #333);
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80px);
  width: 160px;
  max-height: 50vh;
  object-fit: contain;
  margin-bottom: 32px;
}

</style>
